Repository aaj441/Blue-Ocean-Explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

feat: Add comprehensive testing and CI/CD infrastructure
  .dockerignore
  .env.example
  .github/workflows/ci.yml
  Dockerfile
  README.md
  docs/API.md
  e2e/auth.spec.ts
  jest.config.js
  package.json
  playwright.config.ts
  prisma/schema.prisma
  server/env.ts
  server/trpc/main.ts
  server/trpc/procedures/createMarket.ts
  server/trpc/procedures/createOpportunity.ts
  server/trpc/procedures/healthCheck.ts
  server/trpc/procedures/login.ts
  server/utils/cache.ts
  server/utils/database-optimization.ts
  server/utils/errors.ts
  server/utils/health.ts
  server/utils/logger.ts
  server/utils/monitoring.ts
  server/utils/security.ts
  server/utils/validation.ts
  src/test/__mocks__/fileMock.js
  src/test/components/AppNav.test.tsx
  src/test/integration/auth.integration.test.ts
  src/test/mocks/handlers.ts
  src/test/mocks/server.ts
  src/test/procedures/createMarket.test.ts
  src/test/procedures/login.test.ts
  src/test/setup.ts
Due: eslint --fix, prettier --write, prisma format

Refactor: Enhance UI components and add AI features
  README.md
  components/ErrorBoundary.tsx
  components/ExportMenu.tsx
  components/FilterStats.tsx
  components/HelpTooltip.tsx
  components/LazyComponents.tsx
  components/LoadingStates.tsx
  components/charts/OpportunityConstellationChart.tsx
  components/charts/TrendsChart.tsx
  docs/API.md
  routes/__root.tsx
  routes/auth/login.index.tsx
  server/trpc/procedures/analyzeOpportunityWithAI.ts
  server/trpc/procedures/generateMarketInsights.ts
  server/trpc/procedures/strategyChatStream.ts
  stores/authStore.ts
  utils/export.ts
  utils/performance.ts
Due: eslint --fix, prettier --write

Add comprehensive Prisma schema and environment configuration for Blue Ocean Strategy platform
  .env.example
  package.json
  prisma/schema.prisma
Due: prettier --write, prisma format

Start building AI opportunity matcher with semantic search
  prisma/schema-new.prisma
  prisma/schema-old.prisma
  prisma/schema-simple.prisma
  src/routes/index.tsx
Due: eslint --fix, prettier --write, prisma format

feat: Add deployment configurations and setup
  .env.example
  DEPLOYMENT.md
  Dockerfile
  app.config.ts
  nixpacks.toml
  package.json
  prisma/schema.prisma
  railway.json
  server/env.ts
  vercel.json
Due: eslint --fix, prettier --write, prisma format

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss,less})
  prisma format: any of: *.prisma
